a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}
a:hover {
    background-color: black;
    color: white;
}
th {
    background-color: black;
    color: white;
}
table tr:nth-child(2n) {
    background-color: whitesmoke;
}
table {
    font-weight: bold;
    font-size: 20px;
}
.contains {
    font-weight: normal;
    font-size: 15px;
    width: 400px;
}
p {
    margin: 5px;
}
.alcoholic {
    font-weight: normal;
    margin-left: 10px;
    font-size: 16px;
}
.price {
    margin: 10px 30px;
}
.nav {
    margin-bottom: 5px;
}